@model SIGMA_PRUEBA.Models.AllParamsL;
@if( @Model.Lprof!=null ||  @Model.Lalum!=null  ){
    @if( @Model.valpr==2 ){
        <h1>PROFESOR DE: <b>@Model.Info</b></h1>
        @if( @Model.Lprof.Count==0 ){
            <h2 style="color:red;">NO HAY PROFESOR ASIGNADO</h2>
        }else{
            <h1>PROFESOR DE: <b>@Model.Info</b></h1>
            @foreach (var item in @Model.Lprof)
            {
                <h2>
                    @item.Nombre @item.ApellidoP @item.ApellidoM
                </h2>
            }
        }
    }else{
        @if( @Model.Lalum.Count==0 ){
            <h2 style="color:red;">NO HAY ALUMNOS PARA <b>@Model.Info</b> </h2>
        }else{
            <h1>ALUMNOS DE: <b>@Model.Info</b></h1>
            @foreach (var item in @Model.Lalum)
            {
                <h2>
                    @item.Nombre @item.ApellidoP @item.ApellidoM
                </h2>
            }
        }
    }
}
